---
import CartWindowContent from "./cart-window-content.tsx";
---
<div id="cart" hidden class="hidden md:block absolute right-1/2 translate-x-1/2 px-2 py-4 w-96 max-h-96 overflow-x-scroll rounded-b-lg bg-black border-white border border-t-0">
	<CartWindowContent client:visible />
</div>
