---
import ArticleSection from "../components/articles-section/ArticleSection";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="flex flex-col p-8 gap-16">
		<!-- @Todo: Add fancy fade-in animation -->
		<ArticleSection client:only="react">
			<!-- @Todo: Add fancy loading loop circle -->
			<p slot="fallback">Loading...</p>
		</ArticleSection>
	</main>
</Layout>
