---
import { getAllItems } from "../api/api";
import ItemCard from "../components/ItemCard.astro";
import Layout from "../layouts/Layout.astro";

const items = getAllItems();
---

<Layout>
	<section class="flex flex-col w-screen items-center my-8">
		<section class="grid grid-flow-row auto-cols-fr gap-8">
			{items.map((item) => <ItemCard item={item} />)}
		</section>
	</section>
</Layout>
