---
interface Props {
	text: string;
	link: string;
}

const { link, text } = Astro.props;
---

<a
	class="no-underline text-neutral-100 shadow-lg hover:text-shadow-white/40 text-shadow-transparent transition-color duration-300"
	href={link}
>
	{text}
</a>
