---
import type { Item } from "../types/items";

interface Props {
	item: Item;
}

const { item } = Astro.props;
---

<article class="max-w-36 flex flex-col gap-2 bg-neutral-800 p-2 rounded-2xl">
	<div class="w-full h-64">
		<img src={item.img} alt="" />
	</div>

	<h1 class="text-lg font-black italic">{item.name}</h1>
	<p class="font-light text-white">{item.price} DZD</p>
	{item.stock == 0 && <p class="text-lg text-red-500">OUT OF STOCK</p>}
</article>
