---
import "../assets/global.css";
import Footer from "@/components/Footer.astro";
import Header from "../components/Header.astro";
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<Font cssVariable="--font-poppins" preload />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ecommerce.astro</title>
	</head>
	<body
		class="dark bg-neutral-900 text-neutral-50 antialiased max-w-[100vw] overflow-x-hidden"
	>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
